.text-moudal{
width: 400px;
padding: 25px;
background-color: var(--blue-2);
line-height: 25px;
text-align: center;
}


.text-moudal button{
    border: none;
    background-color: var(--blue);
    padding:10px;
    width: 100%;
    color: var(--withe);
    border-radius: 10px;

}